name: Python package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  create:
    tags:

jobs:

  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11']
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry
          make install
      # - name: Install package
      #   run: |
      #     pip install .
      # - name: Test with pytest
      #   run: |
      #     pytest

  # build_wheels:
  #   name: Build wheels
  #   needs: [test]
  #   runs-on: ubuntu-latest
  #   if: github.event_name == 'create' && startsWith(github.ref, 'refs/tags/v')
  #   steps:
  #     - uses: actions/checkout@v2
  #     - name: Set up Python ${{ matrix.python-version }}
  #       uses: actions/setup-python@v2
  #       with:
  #         python-version: 3.7
  #     - name: Install dependencies
  #       run: |
  #         python -m pip install --upgrade pip
  #         pip install -r requirements.dev.txt
  #         pip install wheel
  #     - name: Build wheels
  #       run: |
  #         pip wheel --no-deps -w wheelhouse .
  #     - uses: actions/upload-artifact@v2
  #       with:
  #         path: ./wheelhouse/*.whl

  # build_sdist:
  #   name: Build sdist
  #   needs: [test]
  #   runs-on: ubuntu-latest
  #   if: github.event_name == 'create' && startsWith(github.ref, 'refs/tags/v')
  #   steps:
  #     - uses: actions/checkout@v2
  #     - name: Set up Python ${{ matrix.python-version }}
  #       uses: actions/setup-python@v2
  #       with:
  #         python-version: 3.7
  #     - name: Install dependencies
  #       run: |
  #         python -m pip install --upgrade pip
  #         pip install -r requirements.dev.txt
  #     - name: Build sdist
  #       run: python setup.py sdist
  #     - uses: actions/upload-artifact@v2
  #       with:
  #         path: dist/*.tar.gz

  # deploy:
  #   name: Deploy
  #   needs: [build_wheels, build_sdist]
  #   runs-on: ubuntu-latest
  #   if: github.event_name == 'create' && startsWith(github.ref, 'refs/tags/v')
  #   steps:
  #     - uses: actions/download-artifact@v2
  #       with:
  #         name: artifact
  #         path: dist
  #     - uses: pypa/gh-action-pypi-publish@v1.4.1
  #       with:
  #         user: __token__
  #         password: ${{ secrets.pypi_pwd }}
